<% if @favorites.nil? || @favorites.empty? %>
    <h1>You dont have any favorites yet! Click <a href="/favorites/new">here</a> to select some.</h1>
<% else %>
    <h1>Your current favorite(s). All worthy choices.</h1>

    <% @favorites.map do |fav| %>
    <% if fav.book_id == 0 %>
      <% fav.delete %>
    <% end %>
       <h4><%= fav.book.title %></h1>
        <%= fav.book.author %> <a href='/favorites/<%= fav.id %>'>View this book</a><br>
      <br>
    <% end %>

<% end %>

