<h1>Choose which book/poem you want to add to your favorites</h1>

<form action="/favorites" method="POST">

<% @books.map do |book| %>
    <%= book.title %>
    <input type="checkbox" name="title_ids[]" value="<%= book.id %>"><br> 
    <br>
<% end %>
<br>
<h3>Write some comments about your favorites list if you'd like.</h3>
<input type="text" name="comments"><br>

<input type="submit" value="Add to favorites">
</form>