<h1>Here is a list of your favorites</h1>
<!--Check if the favorite instance belongs to the current user-->
<% if @favorite.user_id == current_user.id %>
<!-- if it is, iterate through favorite -->
    <% Favorite.all.select do |fav| %>
<!-- select the ones that has the same user id and current id -->
      <% if fav.user_id == current_user.id  %> 
<!-- if they match, display title and author -->
                <h4><%= fav.book.title %></h1>
                <%= fav.book.author %>
       <% end %> 
    <% end %>
<% else %>
<!-- if not, link to the checklist -->
    <label>You dont have any favorites yet! Click <a href="/favorites/new">here</a> to select some.</label>
<% end %>
