<% if @favorite == nil %>
    <h1>You dont have any favorites yet! Click <a href="/favorites/new">here</a> to select some.</h1>
<% else %>
    <h1>Your current favorite(s). All worthy choices.</h1>

    <% Favorite.all.select do |fav| %>
      <% if fav.user_id == current_user.id  %> 
                <h4><%= fav.book.title %></h1>
                <%= fav.book.author %><br>
                <br>
       <% end %> 
    <% end %>
    
    <a href="/favorites/<%= @favorite.id %>/edit">Edit Favorites</a>
    <a href="/favorites/<%= @favorite.id %>/delete">Delete Favorites</a>
<% end %>

