<h1>Hi, <%= @user.username %>!</h1>
<label>If this is your first time and you would like to see the list of books, click <a href="/books">here</a>.</label><br>
<label>If you would like to add books to your favorites, click <a href="/favorites/new">here</a>.</label><br>
<label>To view your current favorites, click <a href=/favorites/show>here</a>.</label>

