<form action="/books" method="POST">
    <label>Enter title</label>
    <input type="text" name="title"><br>
    <label>Enter Author</label>
    <input type="text" name="author" ><br>
    <label>Enter description</label>
    <input type="textarea" name="description"><br>
    
    <input type="submit" value="create book"><br>
</form>